<%- include('../layouts/header', {titulo: 'Usuario'}); %>

<div class="container">
	<div class="row">

		<h1 class="text-center">Usuarios</h1>

	</div>
</div>
<div class="container">
	<div class="row mx-auto">
		<div class="col-6 mx-auto">
			<table class="table">
				<thead class="text-center">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">Password</th>
						<th scope="col">Accion</th>
					</tr>
				</thead>
				<tbody class="text-center" >
					<% usuarios.forEach(u => {; %>
					<tr>
						<th scope="row"><%=u.id%></th>
						<td><%=u.nombre%></td>
						<td><%=u.pass%></td>
						<td>
							<button class="btn btn-primary">Editar</button>
							<button class="btn btn-danger">Eliminar</button>
						</td>
					</tr>
					<%});%>
				</tbody>
			</table>
		</div>
	</div>

</div>
<%- include('../layouts/footer'); %>